*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.d-flex {
  display: flex;
}

.RSFormBuilder {
  display: flex;
  justify-content: space-between;
  background: #e0e8f7;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  &.full {
    position: absolute;
  }

  &.fa,
  &.ar {
    direction: rtl;
  }

  .toolbar {
    position: relative;
    width: 200px;
    background: #333c4e;
    color: #fff;
    padding-bottom: 30px;

    .title {
      font-size: 0.9rem;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: 500;
      background: #556482;
      margin: 0 0 1rem;
    }

    .details {
      position: absolute;
      bottom: 0;
      width: 100%;
      right: 0;
      left: 0;
      background: #556482;
      text-align: center;
      line-height: 30px;
    }

    .FormToolbar {
      padding: 0.4rem 1rem;
      cursor: pointer;

      &:hover {
        background: #2a3140;
      }
    }
  }

  .inner {
    width: calc(100% - 200px);
    background: #e9f0fa;

    .description {
      background: #e0e8f7;
      padding: 1rem;
      text-align: center;
    }
  }

  .panel {
    background: #e9f0fa;
    border: 2px dashed #7a7f89;
    min-height: 50vmin;
    margin: 1.2rem;
    padding: 0.5rem;
  }

  .main-actions {
    padding: 0 1rem;
    margin-top: 0.5rem;
    display: flex;

    .action-btn {
      background: #fff;
      border: 1px solid #c9d2e2;
      border-radius: 3px;
      padding: 0.3rem 0.6rem;
      margin-left: 0.2rem;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
}

.FormTool {
  width: 100%;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;

}

.ToolTemplate {
  transition: all 0.2s;
  position: relative;
  border-radius: 0.2rem;
  display: block;
  margin-bottom: 0.5rem;
  padding: 3px 0.5rem 0;

  &.edit-mode {
    background: #fff;
    box-shadow: 0px 1px 1px 1px #b1b1b1a8;

    padding-bottom: 0.1rem;
  }

  &:hover {
    background: #fff;
    box-shadow: 0px 1px 1px 1px #b1b1b1a8;

    .action-bar {
      visibility: visible;
      opacity: 1;

      transition: all 0.4s ease;
    }
  }

  .action-bar {
    display: flex;
    align-items: center;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: max-height 0.4s ease;
    overflow: hidden;
    padding: 0 0.5rem;
    visibility: hidden;
    opacity: 0;

    .action-btn {
      background: #fff;
      border: 1px solid #c9d2e2;
      border-radius: 3px;
      margin-left: 0.2rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &.remove-btn:hover {
        background: #e53935;
        border-color: #e53935;
        color: #fff;
      }

      &.edit-btn:hover {
        background: #1E88E5;
        border-color: #1E88E5;
        color: #fff;
      }
    }
  }

  &.fa,
  &.ar {

    .action-bar {
      right: unset;
      left: 0;
    }
  }

  .edit-panel {
    transition: max-height 1s ease;
    max-height: 0;
    overflow: hidden;
    margin: 3px 0 0.5rem 0;

    .edit-inner {
      padding: 0.5rem;
    }

    &.edit-mode {
      transition: max-height 1s ease;
      max-height: 500px;
      background-color: #f9f9f9;
    }

    .edit-row {
      display: block;
      position: relative;
      margin-bottom: 0.5rem;

      label {
        font-weight: 500;
        font-size: 0.85rem;
      }

      select,
      textarea,
      input,
      input[type="text"],
      input[type="password"],
      input[type="email"],
      input[type="number"] {
        border-radius: 4px;
        border: 1px solid #c4c4c4;
        padding: 0.2rem 0.4rem;
        display: inline-block;
        margin: 0 0.2rem;
      }
    }
  }
}

.f-el {

  &.title {
    margin: 0.4rem 0;
    display: block;
  }
  &.paragraph {
    margin: 0.4rem 0;
    display: block;
  }
  label {
    font-weight: 500;
    font-size: 0.85rem;
  }
  &.text-input {
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    padding: 0.2rem 0.4rem;
    display: inline-block;
  }
  &.multi-line-text {
    @extend .text-input
  }
  &.drop-down {
    @extend .text-input
  }
  &.checkbox-group {
    @extend .text-input
  }

}